body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("background-for-food-3.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* background-color: #272E4F; */
    /* background-color: #2C365D; */
    /* background-color: #606470; */
  }
