.completeButton {
  color: rgb(255,227,25);
  background-color: rgba(0,0,0,0);
  border-style: none;
  cursor: pointer;
  float: right;
  font-size: 18px;
  font-family: "Didact Gothic", sans-serif;
  margin-left: 25px;
  font-weight: bold;

}

.lead {
  float: left;
}

@media screen and (max-width: 400px) {
  .completeButton {
    font-size: 18px;
  }
}

.d-flex {
  max-width: 100%;
}
