.h3, h3 {
	margin-right: 20px;
	text-align: center;
}

.right.order-wrapper {
	background-color: rgba(211, 211, 211, 0.1);
	width: 45%;
	height: 30%;
	margin-right: 100px;
	margin-top: 10px;
	padding: 10px;
	padding-left: 3%;
	border-radius: 5px;
}

h5 {
	color: #DCDCDC;
	font-family: Avenir;
	font-size: 18px;
}
.order-img-thumbnail {
	border-radius: 50%;
	width: 100px;
	margin: 10px;

}

h4 {
	text-align: center;
}

img {
		text-align: center;
	    border-width:3;
	border-color:#ffe8d5;
}
