.h3, h3 {
	margin-right: 20px;
	text-align: center;
}

.orderedItems {
	background-color: rgba(211, 211, 211, 0.1);
	margin-top: 20px;
	width: 9999px;
	max-width: 100%;
	height: 100%;
	padding: 10px;
	border-radius: 5px;
	float: left;
	text-align: center;
}

h5 {
	color: #DCDCDC;
	font-family: "Didact Gothic", sans-serif;
	font-size: 18px;
}
.order-img-thumbnail {
	border-radius: 50%;
	width: 100px;
	margin: 10px;

}

h4 {
	text-align: center;
}

img {
		text-align: center;
	    border-width:3;
	border-color:#ffe8d5;
}
