
.aboutContainer {
  text-align: center;
  margin: auto;
  margin-top: 180px;
}

h1 {
	font-family: "Poiret One", sans-serif;
	font-size: 43px;
	color: rgb(238,232,170);
}

p {
  font-family: "Didact Gothic", sans-serif;
  color: rgba(255,255,255,0.7);
  font-size: 18px;
}

.by {
	height: 40px;
	margin-bottom: 10px;
}

.by p {
	margin-left: 20px;
	font-size: 18px;
	color: white;
	font-family: "Poiret One", sans-serif;
}

@media screen and (max-width: 500px) {
    .aboutContainer {
        margin-top: 50px;
    }
}
