
/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
.aboutContainer {
  text-align: center;
  margin: auto;
  margin-top: 180px;
}

h1 {
	font-family: "Poiret One", sans-serif;
	font-size: 43px;
	color: rgb(238,232,170);
}

p {
  font-family: "Didact Gothic", sans-serif;
  color: rgba(255,255,255,0.7);
  font-size: 18px;
}

.by {
	height: 40px;
	margin-bottom: 10px;
}

.by p {
	margin-left: 20px;
	font-size: 18px;
	color: white;
	font-family: "Poiret One", sans-serif;
}
/* Add some shadows to create a card effect */

/* Some left and right padding inside the container */
